<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- <suite name="sample test suite" > -->
<!--   <test name="Login Test"> -->
<!--     <classes> -->
<!--       <class name="GTAqua.LoginPage"/> -->
<!--     </classes> -->
<!--   </test> -->
<!-- </suite> -->
<suite name="SampleSuite2" verbose="1">
  <test name="SampleTest" >
  <parameter name="browser" value="Chrome"/>
    <classes>
       <class name="GTAqua.LoginPage" />
    </classes>
  </test>
  <test name="Sample2Test" >
  <parameter name="browser" value="Firefox"/>
    <classes>
       <class name="GTAqua.LoginPage" />
    </classes>
  </test>
  </suite>